<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ariix.twInvoice.OrderInvoiceDiscMapper">
  <resultMap id="BaseResultMap" type="com.ariix.twInvoice.OrderInvoiceDisc">
    <result column="ID" jdbcType="VARCHAR" property="id" />
    <result column="ORDER_ID" jdbcType="DECIMAL" property="orderId" />
    <result column="DISC_ID" jdbcType="VARCHAR" property="discId" />
    <result column="DISC_AMOUNT" jdbcType="DECIMAL" property="discAmount" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, ORDER_ID, DISC_ID, DISC_AMOUNT, CREATE_DATE
  </sql>
  <select id="selectByExample" parameterType="com.ariix.twInvoice.OrderInvoiceDiscExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ORDER_INVOICE_DISC
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.ariix.twInvoice.OrderInvoiceDiscExample">
    delete from ORDER_INVOICE_DISC
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ariix.twInvoice.OrderInvoiceDisc">
    insert into ORDER_INVOICE_DISC (ID, ORDER_ID, DISC_ID, 
      DISC_AMOUNT, CREATE_DATE)
    values (#{id,jdbcType=VARCHAR}, #{orderId,jdbcType=DECIMAL}, #{discId,jdbcType=VARCHAR}, 
      #{discAmount,jdbcType=DECIMAL}, #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ariix.twInvoice.OrderInvoiceDisc">
    insert into ORDER_INVOICE_DISC
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="orderId != null">
        ORDER_ID,
      </if>
      <if test="discId != null">
        DISC_ID,
      </if>
      <if test="discAmount != null">
        DISC_AMOUNT,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=DECIMAL},
      </if>
      <if test="discId != null">
        #{discId,jdbcType=VARCHAR},
      </if>
      <if test="discAmount != null">
        #{discAmount,jdbcType=DECIMAL},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ariix.twInvoice.OrderInvoiceDiscExample" resultType="java.lang.Integer">
    select count(*) from ORDER_INVOICE_DISC
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ORDER_INVOICE_DISC
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.orderId != null">
        ORDER_ID = #{record.orderId,jdbcType=DECIMAL},
      </if>
      <if test="record.discId != null">
        DISC_ID = #{record.discId,jdbcType=VARCHAR},
      </if>
      <if test="record.discAmount != null">
        DISC_AMOUNT = #{record.discAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ORDER_INVOICE_DISC
    set ID = #{record.id,jdbcType=VARCHAR},
      ORDER_ID = #{record.orderId,jdbcType=DECIMAL},
      DISC_ID = #{record.discId,jdbcType=VARCHAR},
      DISC_AMOUNT = #{record.discAmount,jdbcType=DECIMAL},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>